body {
   
    margin:0;
    z-index: 0;
    
}
header {
    font-family: 'Rubik Glitch', cursive;
    background: no-repeat url(https://i.pinimg.com/originals/f5/0d/83/f50d8342cbea21658384bba513f5e193.jpg);
    background-size: 100% 140%;
    margin:0;
}
    header .header {
        text-shadow: 5px 5px 3px black;
        font-size:4vw ;
        padding-left:0.5vw;
        color: ghostwhite;
    }
    header .searching {
        background-color: lightblue;
        position: absolute;
        right: 3vw;
        top:1vh;

        min-height: 5vh;
        border-radius: 15%;
        font-family: 'Pacifico', cursive;
        transition: all 0.7s ease-in-out;
    }
        header .searching:hover {
            transform: scale(1.1);
        }
        .container {
            display: flex;
        }
.cover_button {
    display: flex;
    z-index: 1;
    justify-content: center;
}
.button {
    display:flex;
    margin-top: 5vh;
    opacity: 0.9;
    border: 2px solid white;
    background: linear-gradient(90deg, rgba(84,3,8,1) 0%, rgba(175,6,6,1) 50%, rgba(198,75,54,1) 100%);
    border-radius: 50%;
    margin-bottom: 5%;
    padding:2px 10px 0px 10px;
    text-align:center;
    max-height: 50px;
    max-width: 180px;
    cursor: pointer;
    font-size: 140%;
    font: bold;
    transition: font-size 3s, color 2s;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin-right: 10px;
    margin-bottom: 2vh;
}
.button:hover {
        color: white;
        transform: scale(1.1);
 }
section {
    background: no-repeat url(https://i.pinimg.com/474x/fb/04/05/fb040572e315ea147bccff02047de8d5.jpg);
    background-size: 100% auto;
    margin:0;
}
.movies {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
}
.movie {
    width: 240px;
    padding: 10px;
    position: relative;
    
}
    .movie img {
        width: 20vw;
        border: 10px outset;
        border-image: linear-gradient(#e7e6ee, #111111) 30;
        z-index: 2;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        
    }

.movie__title {
    font-size: 20px;
    color: blueviolet;
    justify-content: center;
    text-align: center;
    background: black;
    border-radius: 10px;
    padding: 5px;
    background-size: 25vw;
    opacity: 0.9;
    font-family: 'Pacifico', cursive;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

footer {
    text-align: center;
   
}
    footer img {
        margin-left: 20px;
        width: 60vw;
        margin-bottom: 0;
    }
 
    .block__text {
        display: block;
        position: absolute;
        overflow: hidden;
        left: 0;
        right: 0;
        top: 25vh;
        min-width: 22vw;
        min-height: 30vh;
        background-color: blueviolet;
        opacity: 0;
        border: 8px double black;
        border-radius: 40% 10%;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        z-index: 3;
    }

.movie:hover .block__text {
    opacity: 0.9;
   
}
.block__text:hover {
    transform: scale(1.04);
}
.movie:hover {
    cursor: pointer;
}
.movie img:hover {
    background: black;
    opacity: 0.9;
   
}
.bigger {
    transition-duration: 1.3s;
   
}

.bigger:hover {
    transform: scale(1.05);
}
.block__text .i {
    font-family: 'Rubik Wet Paint', cursive;
    padding: 3vh;
    font-size: 14px;
    text-align: center;
    font: extra-bold 900px;
    font-style: italic;
}
#a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
    display: none;
    margin-left: 1vw;
    font-size: 20px;
    padding-bottom: 2vh;
    text-shadow: 25px 5px 3px grey;
    color: black;
}
    #a:hover {
        text-decoration: underline;
        
    }
.hr-line {
    height: 10px;
    margin: 0;
    border: none;
    border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
